body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#2e8b57;
    /*background-color: #97e19c;*/
}

.navigation-bar {
    background-color:#2e8b57;
    height: 70px;
    width: 100%;
    text-align:center;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a.active {
    color: #4caf50; /* Green */
    text-decoration: underline;
}

nav ul li a.book-now {
    color: #ff4081; /* Pink */
}

.menu-categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

.category {
    text-align: left;
}

.category ul {
    list-style: none;
    padding: 0;
}

.menu-items {
    padding: 20px;
}

.menu-items h2 {
    text-align: center;
}

.menu-items ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-items ul li {
    font-size: 18px;
}

#3d-object {
    width: 100%;
    height: 400px;
    background-color: #eee;
    margin: 20px 0;
}
